@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.formTitulo {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  color: #f7a518;
}

#psHEadertxt, .formTxt, .list,a{
    font-family: "Poppins", sans-serif;
    font-weight: 50;
    font-style: normal;
    margin: 25px 0 25px 0;
    color: aliceblue;
    text-align: justify;
    line-height: 2em;/*espaçamento entre linhas*/
}

.formButtonHeader{
    color: aliceblue;
    height: 25px;
    border: none;
    border-radius: 25px;
    background-color: #f7a518;
    cursor: pointer;
    animation: bounce 1s infinite alternate;
}

.formButtonHeader:hover{
    background-color: aliceblue;
}

.formQSsubtitulo{
    margin-top: 25px;
}

#psQStxt, .formTxtp{
      font-family: "Poppins", sans-serif;
    font-weight: 50;
    font-style: normal;
    margin: 25px 0 25px 0;
    text-align: justify;
    line-height: 2em;/*espaçamento entre linhas*/
}